.Hero {
  width: 80%;
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  color: white;

}

.page-text {
  margin-top: 10px;
  font-size: 55px;
  font-weight: bolder;
  letter-spacing: -0.5px;
  line-height: 1.2;

  span {
    margin-left: inherit;
    background: linear-gradient(to right, #f97316, #ef4444);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.welcome-text {
  button {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #f97316, #ef4444);
  }
}

/* media sccreen for phones */
@media only screen and (max-width:700px) {
  .Hero {
    display: block;
    max-width: 45%;
    margin-top: 35px;
    margin-left: 60px;
    flex-direction: column;
    align-items: center;

    .page-text {
      font-size: 30px;
    }

    .welcome-text {
      font-size: 15px;
    }
    button {
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #f97316, #ef4444);
  }
  }

}

/* media screen for tabs */
@media only screen and (max-width:834px) {
  .Hero {
    display: block;
    max-width: 70%;
    margin-top: 35px;
    margin-left: 20px;
    flex-direction: column;
    align-items: center;

    .page-text {
      font-size: 45px;
    }

    .welcome-text {
      font-size: 25px;
    }
  }
}